@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;1,300&display=swap");

/* declaring the css variables colors */
:root {
  --color-nav: #f6f8fb;
  --color-primary: #f6f8fb;
  --color-secondary: #8d448b;
  --color-title: #0f2137;
  --color-primary-accent: #02073e;
  --color-button: #8d448b;
  --color-text: #0f2137;
  --color-paragraph: #6d7370;
  --color-button-text: #ffffff;
  --color-background: #ffffff;
  --color-cart: #ffffff;
  --color-section: #f6f8fb;
  --color-anchor: #2a2c47;
  --color-footer: ;
}

[data-theme="dark"] {
  --color-nav: #1f2336;
  --color-primary: #313552;
  --color-secondary: #e1ae6d;
  --color-primary-accent: white;
  --color-title: #e1ae6d;
  --color-button: #313552;
  --color-paragraph: #90a4ae;
  --color-button-text: #e1ae6d;
  --color-text: #ffffff;
  --color-background: #1f2336;
  --color-cart: #313552;
  --color-section: #23273c;
  --color-anchor: #2a2c47;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: "Poppins", sans-serif;
}

.my_swiper {
  height: 110px;
  box-sizing: border-box;
  padding: 10px 0;
}

.my_swiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.my_swiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
