.nav {
  background: linear-gradient(90deg, #ffcdd2, #e57373);
  position: fixed;
  z-index: 999;
}

.nav .active {
  background: #e57373;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 100%;
  background-color: #683bb7;
  color: #fff;
  margin: 15px;
  font-size: 4em;
}
